---

const { title, src, href,description, videoPosition } = Astro.props;
---
<div>
  {videoPosition === 'left' ? (
    <div class='grid grid-cols-2 gap-4'>
      <a href={href}
          target='_blank'
        class='flex object-cover rounded-lg h-fit border-white/40 border-2 w-full overflow-hidden hover:border-collapse hover:border-2 hover:border-yellow-600 '
        >       
        <video autoplay loop src={src} class=' rounded-lg hover:scale-110 transition-all transform duration-500' muted/>
      </a>    
      <div class='flex flex-col justify-center items-start gap-4'>
        <h3 class="font-bold text-2xl text-gray-300">{title}</h3>
        <p class=" text-gray-400">
          {description}
        </p> 
      </div>  
    </div>
    )     :    ( 
    <div class='grid grid-cols-2 gap-4'>
      <div class='flex flex-col justify-center items-end gap-4'>
        <h3 class="font-bold text-2xl text-gray-300">{title}</h3>
        <p class=" text-gray-400">
          {description}
        </p> 
      </div>
      <a
        href={href}
        target='_blank'
        class='flex object-cover rounded-lg h-fit border-white/40 border-2 w-full overflow-hidden hover:border-collapse hover:border-2 hover:border-yellow-600 '
      >
        <video autoplay loop src={src} class=' rounded-lg hover:scale-110 transition-all transform duration-500' muted/>
      </a>
    </div>

  )}
</div>